fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.30
jinja2==3.1.4
python-multipart==0.0.9
openpyxl==3.1.2
itsdangerous==2.1.2
gunicorn==22.0.0
psycopg2-binary==2.9.9
firebase-admin
PyMuPDF==1.23.8
Pillow==10.2.0
google-generativeai==0.5.2
